html {
  overflow-y: scroll;
  font-size: 100%; /* Sets up the Base 10 stuff */
   -ms-text-size-adjust: 100%; /* 2 */
   -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    min-height: 100%;
    margin: 0;
    font-family: $base-font-family;
    @include font-size(16px);
    color:#ffffff;
}
